
importFrom(graphics, lines, par, plot, title)


importFrom(stats, cor, density, dnorm, pf, predict, qnorm, qqline,
 qqnorm, qqplot, rgamma, smooth.spline, var)
import(sva)
import(limma)
import(matrixStats)
importFrom(corpcor, fast.svd)
importFrom(MASS,rlm)
export(ttScreening)
export(sva2)
export(irwsva.build2)
export(num.sv2)
